.testimonial {

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    outline: 3px solid orange;
    color: #fff;
}
.testimonial > div {

    border: 6px solid black;

}

#card-1 {
    
    /*grid-column: 1 / 3;
    grid-row: 1 /2;*/
    grid-column-start: 1;
    grid-column-end: 5;

    grid-row-start: 1;
    grid-row-end: 2;
   
}

#card-2 {
    
    /*grid-column: 1 / 3;
    grid-row: 1 /2;*/
    grid-column-start: 3;
    grid-column-end: 5;

    grid-row-start: 3;
    grid-row-end: 4;
   
}

#card-3 {
    
    /*grid-column: 1 / 3;
    grid-row: 1 /2;*/
    grid-column-start: 1;
    grid-column-end: 2;

    grid-row-start: 1;
    grid-row-end: 2;
}

#card-4 {
    
    /*grid-column: 1 / 3;
    grid-row: 1 /2;*/
    grid-column-start: 1;
    grid-column-end: 2;

    grid-row-start: 1;
    grid-row-end: 2;

}

#card-5 {
    
    /*grid-column: 1 / 3;
    grid-row: 1 /2;*/
    grid-column-start: 1;
    grid-column-end: 2;

    grid-row-start: 1;
    grid-row-end: 2;
}

.purple {
    background-color : #6c63ff;
}
.dark-grey {
    background-color: #555a6e;
}

.black {
    background-color: #1c1c1c;
}

.white {
    background-color: #fff;
    color: #333;
}