* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Barlow Semi Condensed', sans-serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(214, 17%, 92%);
}

#testimonials {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    max-width: 1100px;
    margin: 30px;
    gap: 20px;
    font-size: 13px;
}

.card {
    border-radius: 10px;
    padding: 30px;
    box-shadow: 12px 12px 2px 1px rgba(149, 149, 150, 0.2);
}

#daniel_card {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    background-color: hsl(263, 55%, 52%);
    background-image: url('./images/bg-pattern-quotation.svg');
    background-repeat: no-repeat;
    background-position-x: 80%;
}

#daniel_card, #jonathan_card, #patrick_card {
    color: hsl(0, 0%, 100%);
}

#daniel_card img, #patrick_card img {
    border: 2px solid rgb(219, 132, 250);
}

#jonathan_card {
    background-color: hsl(217, 19%, 35%);
}

#kira_card {
    background-color: hsl(0, 0%, 100%);
    grid-column: 4 / 5;
    grid-row: 1 / 3;
}

#jeanette_card {
    background-color: hsl(0, 0%, 100%);
}

#patrick_card {
    grid-column: 2 / 4;
    background-color: hsl(219, 29%, 14%);
}

.profile {
    display: flex;
}

.profile > img {
    border-radius: 50%;
    margin-right: 20px;
    height: 40px;
}

.profile > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile > div :last-child {
    opacity: 50%;
}

.profile + p {
    font-size: 1.5em;
}

.card > :last-child {
    opacity: 70%;
}

#testimonials p {
    margin-top: 20px;
}

@media (max-width: 950px) {
    main {
        height: 100%;
    }
    #testimonials {
        display: flex;
        flex-direction: column;
    }
}